<section class="container is-max-tablet mb-5">
  <h1 class="has-text-centered">Don</h1>
  <p class="has-text-centered is-size-6">
    Chaque contribution écrit une nouvelle page d'espoir - Votre don change des
    vies dès aujourd'hui. Et améliore l'image de notre cher pays le
    BURKINA-FASO.
  </p>
  <div class="equipe">
    @for (item of sectionsignal(); track $index) {
    <div class="card reveal-1 fade-in container" appAppearOnScroll>
      <div class="card-content">
        <p class="title">
          {{ item.content.nom }}
        </p>
        <p class="subtitle">Type de don : {{ item.content.natureDon }}</p>

        <p class="is-size-7">Media</p>
        <div>
          <img [src]="getImagePath(item.content.mediaurls)" alt="media" srcset="" />
        </div>

        <p class="clamp-3">{{ item.content.description }}</p>
      </div>
      <footer class="card-footer">
        <p class="card-footer-item">
          <span>
            Voir plus
            <a href="https://twitter.com/codinghorror/status/506010907021828096"
              >Les informations</a
            >
          </span>
        </p>
        <p class="card-footer-item">
          <span> Partagé sur <a href="#">Facebook</a> </span>
        </p>
      </footer>
    </div>
    }
  </div>
</section>
