<section class="mt-4 p-4">
  <p class="has-text-centered subtitle is-3 m-2">
    REACTION DE QUELQUES BENEFICIAIRES
  </p>
  <p class="has-text-centered is-size-7 mb-4"
    >Des sourires qui en disent long... Découvrez ce que les bénéficiaires de
    Faso Mebo pensent de notre initiative. Leurs retours sincères sont notre
    plus belle récompense !</p
  >

  <!-- <div>
    <div class="columns">

      <div class="column">
        <p>Paul Nacoulma, riverain :</p>
        <figure class="image is-16by9">
          <iframe
            class="has-ratio"
            width="440"
            height="160"
            src="https://www.youtube.com/embed/YFM2v2wVEj0"
            frameborder="0"
            allowfullscreen
          ></iframe>
        </figure>
      </div>

      <div class="column">
        <figure class="image is-16by9">
          <iframe
            class="has-ratio"
            width="440"
            height="160"
            src="https://www.youtube.com/embed/YE7VzlLtp-4"
            frameborder="0"
            allowfullscreen
          ></iframe>
        </figure>
      </div>

      <div class="column">
        <figure class="image is-16by9">
          <iframe
            class="has-ratio"
            width="440"
            height="160"
            src="https://www.youtube.com/embed/YE7VzlLtp-4"
            frameborder="0"
            allowfullscreen
          ></iframe>
        </figure>
      </div>

    </div>
  </div> -->
  <div class="fixed-grid has-3-cols">
    <div class="grid">
      @for (item of videos; track $index) {
      <div class="cell">
        <p>{{ item.title }}</p>
        <figure class="image is-16by9">
          <iframe
            class="has-ratio"
            width="440"
            height="160"
            [src]="getSafeUrl(item.url)"
            frameborder="0"
            allowfullscreen
          ></iframe>
        </figure>
      </div>
      }
    </div>
  </div>
</section>
