<section class="content has-background-primary-20 p-6" style="margin-block-end: 0 !important">
  <section class="columns">
    <div class="column is-one-third">
      <h4 class="has-text-primary-100">Faso Mêbo</h4>

      <small class="has-text-primary-100">
        La dynamique est ainsi lancée. Et le peuple burkinabè qui épouse la
        vision du Chef de l’Etat n’hésite pas à mettre la main à la patte. Du
        ciment, du sable, du gravier sont gracieusement offerts par des citoyens
        pour la fabrication des pavés. Et au centre de fabrication des pavés, le
        travail ne manque pas. Des volontaires sont à l’œuvre pour
        disponibiliser les pavés
      </small>
    </div>
    <!------------>
    <div class="column">
      <h4 class="has-text-primary-100">Contact</h4>
      <div class="is-divider-min" data-content="OU"></div>
    </div>
    <!-------->
    <div class="column">
      <h4 class="has-text-primary-100">Lien utile</h4>
      <div class="is-divider-min" data-content="OU"></div>
      <p class="has-text-primary-100">Historique</p>
      <p class="has-text-primary-100">Initiative</p>
      <p class="has-text-primary-100">Don</p>
    </div>
    <!-------->
    <div class="column">
      <h4 class="has-text-primary-100">Newsletter</h4>
      <div class="is-divider-min" data-content="OU"></div>
      <div class="control has-icons-left has-icons-right">
        <input class="input is-small" type="email" placeholder="Email" />
        <span class="icon is-small is-left">
          <i class="fas fa-envelope"></i>
        </span>
        <span class="icon is-small is-right">
          <i class="fas fa-check"></i>
        </span>
      </div>
      <!---->
      <div class="is-divider" data-content="OU"></div>
      <!----->
      <div class="social-icons mt-4 is-flex is-gap-2">
        <a href="#"><img class="image is-32x32" src="icons/facebook-round-svgrepo-com.svg" alt="" srcset=""></a>
        <a href="#"><img class="image is-32x32" src="icons/linkedin-round-svgrepo-com.svg" alt="" srcset=""></a>
        <a href="#"><img class="image is-32x32" src="icons/instagram-round-svgrepo-com.svg" alt="" srcset=""></a>
        <a href="#"><img class="image is-32x32" src="icons/dropbox-round-svgrepo-com.svg" alt="" srcset=""></a>
      </div>
    </div>
  </section>

</section>
<section class="footer-custom py-4">
    <p class="has-text-primary-100 has-text-centered">© 2025 | Made with ❤️ by GUEL & OUATTARA Dev. All Rights Reserved.</p>

    <p class="has-text-primary-100 has-text-centered mt-5">Ecole Superieur D'Informatique</p>
    <p class="has-text-primary-100 has-text-centered">Enseignant : Dr. Pasteur PODA</p>
  </section>
