<section class="content">
  <div
    class="custom-content custom-height is-align-content-center is-align-items-center is-justify-content-center"
  >
    <div class="custom-hero">
      <h1 class="has-text-centered has-text-primary-100">CONTACT</h1>
      <p class="has-text-centered has-text-primary-100 subtitle is-3">
        Contacter l'Initiative Presidentielle : Faso Mêbo
      </p>
    </div>
  </div>
</section>
<section class="container">
  <div class="columns">
    <!----->
    <div class="column is-half is-5 p-5">
      <p class="subtitle is-size-2">Contactez-nous</p>
      <p>
        Vous souhaitez nous contacter ou faire un don ? Remplissez ce
        formulaire. Nos équipes vous garantissent une réponse rapide.
      </p>

      <p>Contacter Faso Mêbo par Email :</p>
      <p>contact&#64;fasomebo.bf</p>
      <p>Contacter Faso Mêbo par téléphone :</p>
      <p>25 32 50 00 ou 3360</p>
    </div>
    <!------->
    <div class="p-5 column">
      <p class="subtitle is-size-2">Preciser nous votre demande :</p>
      <form>
        <div>
          <div class="">
            <label class="label is-small">Nom</label>
            <div class="field">
              <div class="control is-small">
                <input
                  class="input is-small"
                  type="text"
                  placeholder="Small input"
                />
              </div>
            </div>
          </div>
          <div class="">
            <label class="label is-small">Prenom</label>
            <div class="field">
              <div class="control is-small">
                <input
                  class="input is-small"
                  type="text"
                  placeholder="Small input"
                />
              </div>
            </div>
          </div>
          <div class="">
            <label class="label is-small">Email</label>
            <div class="field">
              <div class="control is-small">
                <input
                  class="input is-small"
                  type="email"
                  placeholder="Small input"
                />
              </div>
            </div>
          </div>

          <div>
            <label class="label is-small">Description</label>
            <div class="control">
              <textarea
                class="textarea is-small"
                placeholder="Description"
                formControlName="description"
              ></textarea>
            </div>
          </div>
        </div>

        <button
          class="button has-background-primary-25 has-text-primary-100 mt-2"
        >
          Envoyer
        </button>
      </form>
    </div>
  </div>
</section>
