.custom-height{
  height: calc(100vh - 3rem) !important;
}
.custom-content{
   position: relative;
  width: 100%;
  height: auto;
  max-height: fit-content;
  overflow: hidden;
  background: linear-gradient(rgba(17, 17, 17, 0.548), #2626269d),
    url(/images/image6.jpg) no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.custom-hero {
  margin-block-start: 8%;
  margin-block-end: 2%;
}
