<section class="content">
  <div
    class="custom-content custom-height is-align-content-center is-align-items-center is-justify-content-center"
  >
    <div class="custom-hero">
      <h1 class="has-text-centered has-text-primary-100">HISTORIQUE</h1>
      <p class="has-text-centered has-text-primary-100 subtitle is-3">
        Initiative Presidentielle Faso Mêbo
      </p>
    </div>
  </div>
</section>
<!--Historique-->
<section class="content p-4">
  <div class="columns">
    <div class="column">
      <h1 class="has-text-centered">
        Initiative présidentielle: « Faso Mêbo »
      </h1>
    </div>
  </div>
  <div class="columns">
    <div class="column">
      <figure>
        <img src="images/image5.jpg" alt="" srcset="" />
      </figure>
    </div>
    <div class="column">
      <p class="is-size-5">
        Adopté en octobre 2024 en Conseil des ministres, l’Initiative
        présidentielle « Faso Mêbo » est la traduction de la volonté du
        Président du Faso, Chef de l’Etat, le Capitaine Ibrahim TRAORE
        d’accélérer le désenclavement de notre pays et de donner un nouveau
        visage à l’aménagement urbain des grandes villes du Burkina Faso.
      </p>
      <p class="is-size-5">
        Et les choses vont aller vite dans l’implémentation de la phase pilote
        de cette initiative ambitieuse dans la capitale Ouagadougou. Chaque
        jour, la capitale burkinabè est en train d’opérer sa mue. Des rues sont
        revêtues de bitumes et les accotements des rues, les terre-pleins
        centraux des principales artères sont pavés. Plus de 9 kilomètres de rue
        ont été déjà bitumées sur une prévision de 10 kilomètres. C’est la
        composante 2 de «Faso Mêbo» qui vise l’embellissement des villes qui est
        en marche.
      </p>
    </div>
  </div>
</section>
<section>
  
</section>
